/* Variables */
:root {
    --main-button-color: #351C75;
    --secondary-button-hover-color: #D07BDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-weight: bold;
}
header {
    width: 100%;
    height: 50px;
}
.time-remaining {
    
}
.time-remaining-span {

}
.section-content {
    padding: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    
}
#home-content-wrapper {
    text-align: center;
}

#options-container {
    text-align: left;
}
.question-text {
    margin-bottom: 15px;
}
#choice-container button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 5px 0;
}
.home-content-wrapper h2, .home-content-wrapper p {
    padding-bottom: 15px;
}

.home-heading {
    font-weight: bold;
}

.high-score-link {
    color: var(--secondary-button-hover-color);
}

.primary-button {
    padding: 8px 15px;
    background-color: var(--main-button-color);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.primary-button:hover {
    background-color: var(--secondary-button-hover-color);
    border: none;
}